In [ ]:
from pyspark.sql import SparkSession
spark = SparkSession.builder.getOrCreate()

In [ ]:
df = spark.read.parquet('s3n://com.jurin-n.aws.emr.spark.data/mta_parquet/001')

In [ ]:
df.registerTempTable('mta_data')

In [ ]:
df.printSchema()

In [ ]:
from datetime import datetime
print('START TIME:' + str(datetime.now()))
spark.sql("select count(1) from mta_data").show()
print('END TIME:' + str(datetime.now()))

In [ ]:
from datetime import datetime
print('START TIME:' + str(datetime.now()))
spark.sql("select OriginName,count(1) from mta_data group by OriginName").show()
print('END TIME:' + str(datetime.now()))